html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 9rem;
  /* margin-top: -2.7rem; */
  background-color: rgb(51, 51, 51);
}

.navBar h1 {
  color: white;
  line-height: 7rem;
  text-align: left;
  padding-left: 4rem;
  font-size: 4rem;
}

.btnNav {
  /* padding: 10px; */
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 80px;
  border-radius: 4px;

}

.main {
  display: flex;
  gap: 3rem;
  background-color: rgb(204, 204, 204);
  padding: 3rem 6rem;
}

.leftDiv {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.leftDiv input {
  width: 95%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  height: 2rem;
  border: none;
  font-size: 1.1rem;
}

.leftDiv h1 {
  font-size: 1.5rem;
}

.saveBtn {
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1.25rem;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(51, 51, 51);
}

.editBtn {
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1.25rem;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(51, 51, 51);
}

.rightDiv {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.genInfoDiv {
  grid-column: span 5;
  grid-row: span 2;
  /* background-color: rgb(137, 135, 253); */
  text-align: center;
}

.genInfoDiv h1 {
  font-size: 2.5rem;
  margin-top: 5px;
}

.underlined {
  border-bottom: 1px solid grey;
  color: #004dff;
  width: 1000px;
}

.rightDiv h3 {
  width: 200px;
}

.genInfoDiv p {
  text-align: left;
}

.h2Left {
  float: left;
  padding-left: 10px;
}

.h2Right {
  float: right;
  padding-right: 10px;
}

.ExperienceSect {
  grid-row: 3/4;
  grid-column: 1/6;
}

.EducationSect {
  grid-row: 4/5;
  grid-column: 1/6;
}


.mainDark {
  display: flex;
  gap: 3rem;
  padding: 3rem 6rem;
  background-color: rgb(35, 37, 52);
}

.leftDark {
  background-color: rgb(39, 43, 71);
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.leftDark input {
  width: 95%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  height: 2rem;
  border: none;
  font-size: 1.1rem;
}

.leftDark h1 {
  font-size: 1.5rem;
}

.rightDark {
  background-color: rgb(39, 43, 71);
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: rgb(182, 182, 182);
}


.rightDark h3 {
  width: 200px;
}

.rightDark h2 {
  color: white;
}

.rightDark .underlined {
  color: white
}
